<% if flash[:success] %>
    <div id="success"><%= flash[:success] %></div>
<% end %>
<%= link_to "logout", logout_path%>
users/show
<% if logged_in? %>
  # Links for logged-in users
<% else %>
  # Links for non-logged-in-users
<% end %>