.nav{
  margin-top: -20px;
  margin-left: 20px;
}
/**/
.btn.controller{
  position:absolute;
  top:270px;
  right:50px;
  width:200px;
}

#save_semester_button{
  top: 310px;
}

.btn.not_logged{
  margin-top: 15px;
  margin-bottom: 15px;
}

html, body{
  padding:0;
  margin-top: 0px;
}
body{
  padding-bottom: 100px;
}

.label.label-primary{
  padding: 10px 20px;
}

.alert{
  margin-top: 50px;
}

.container{
  margin-right: 50%;
  margin-left: 50%;
}

ul li{
  list-style-type: none;
}

ul li .btn{
  position: relative;
  left: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/**/
#new_semester, #new_subject{
  position: absolute;
  top:150px;
  right:20px;
  width: 250px;
  margin-top: 20px;
}

.subject_selection{
  max-width: 100%;
}

.login-form, .signup-form{
  position: absolute;
  width: 400px;
  left: 50%;
  top: 300px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.submit_button{
  margin-top: 10px;
}

.semesters_div, .subjects_div, .semesters_set_div{
	position: relative;
  top: 110px;
  margin-bottom: 100px;
  left: 25%;
	background: transparent;
  overflow-y: auto;
	width: 60%;
}

.semesters_div{
  width: 35%;
  min-width: 400px;
}

.subjects_div{
  left: 10%;
  min-width: 500px;
}

.semesters_set_div{
  top: 140px;
  width: 60%;
  left: 10%;
}

.btn.semester-year-button{
  width: 60%;
  background: #DCE1E3;
}

.sign_up_div, .login_div{
  position: relative;
  width: 300px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.subject_name_col{
  width: 55%;
}

h1{
  text-align: center;
  font-variant: small-caps;
}

.navbar-brand{
  font-variant: small-caps;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #DCE1E3 !important;
}

.h{
  position: absolute;
  top: -10px;
  width: 100%;
}

#welcome{
  position: relative;
  top: 120px;
  text-align: center;
  vertical-align: center;
}

h2.semesters{
  position: relative;
  top: 110px;
  margin-left: 5%;
  width: 35%;
}

.semester_title{
  width: 40%;
}

.dropdown{
  position:absolute;
  top: 63px;
  left:42%;
}

.language_selection.not_logged{
  position: absolute;
  top: 20px;
  right: 50px;
  text-align: right;

}
.logout_div{
  position: relative;
  text-align: right;
  margin-right: 50px;
  top: -30px;
}

.half_year, .credit, .grade, .year{
  max-width: 100px;
  margin-top: 5px;
}

.index_details{
  margin: 5px 20px;
}

#menu1{
  font-size: 20px;
}

.delete_semester{
  position: absolute;
  right: 5%;
}

#notice, #success, #error{
  position:absolute;
  top:0;
  width: 100%;
  z-index: -2;
}

#sidebar{
  position: absolute;
  top:50px;
  right: 0;
  width: 300px;
  background-color: #DCE1E3;
}

.glyphicon{
  margin: auto;
}


.page-content{
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  min-width: 1016px;
}
