.nav{
  margin-top: -20px;
  margin-left: 20px;
}

.btn.controller{
  margin-left: 100px;
  position:absolute;
  top:240px;
  left:0;
}

.btn.not_logged{
  margin-top: 15px;
  margin-bottom: 15px;
}

html, body{
  padding:0;
  margin-top: 0px;
}
body{
  padding-bottom: 100px;
  background: black;
}

.alert{
  margin-top: 50px;
}

.content{
  margin-top: 70px;
  margin-left: 30%;
  margin-right: 40px;
}

.container{
  margin-right: 50%;
  margin-left: 50%;
}

ul li{
  margin-left: 30px;
}

#new_semester, #new_subject{
  position: absolute;
  top:260px;
  left:0;
  width: 250px;
  margin-left: 100px;
  margin-top: 20px;
}

.login-form, .signup-form{
  position: absolute;
  width: 400px;
  left: 50%;
  top: 300px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.submit_button{
  margin-top: 10px;
}

#save_semester_button, #save_subject_button, #add_subject_button{
  display: none;
}

.semesters_div, .subjects_div, .semesters_set_div{
	position: relative;
	background: transparent;
  overflow-y: auto;
	width: 60%;
}

.semesters_div{
  width: 0;
  min-width: 33%;
}

.sign_up_div, .login_div{
  position: relative;
  width: 300px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.semesters_set_div, .subjects_div{
  overflow-y: auto;
  margin-bottom: 30px;
}

.subject_name_col{
  width: 55%;
}

.semesters_table_div{
  width: 90%;
  min-width: 200px;
  overflow-y: auto;
}

h1{
  text-align: center;
  font-variant: small-caps;
}

.h{
  position: absolute;
  top: -10px;
  width: 100%;
}

#welcome{
  position: relative;
  top: 230px;
  text-align: center;
  vertical-align: center;
  margin-left: -40%;
}

h2.semesters, h2.subjects{
	margin-left: -10%;
}

.language_selection{
  font-weight: bold;
}
.logout_div{
  position: relative;
  text-align: right;
  margin-right: 50px;
  top: -30px;
}
.new_semester_div, .new_subject_div, .paste_subject_div{
  display: none;
}

.half_year, .credit, .grade{
  width: 60px;
}
.credit_index{
  position: absolute;
  left: 50%;
}

.delete_semester{
  position: absolute;
  right: 5%;
}


