<h2><%=t(:label_semesters)%></h2>
</br>
</br>
<%=link_to t(:label_back_to_home), korrkred_path%>
</br>
</br>
<%=@semesters%>
<div id="semesters">
</div>
<input id="add_new_semester_button" type="button" value="<%=t(:label_add_new_semester)%>"/>

